---
import { render, type CollectionEntry } from 'astro:content'

import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import PostLayout from '@/layouts/BlogPost.astro'

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from 'dayjs/plugin/timezone'
dayjs.extend(utc);
dayjs.extend(timezone);
export const prerender = true

export async function getStaticPaths() {
  const posts = sortMDByDate(await getBlogCollection())
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post, posts }
  }))
}

type Props = {
  post: CollectionEntry<'blog'>
  posts: CollectionEntry<'blog'>[]
}

const { post, posts } = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await render(post)
const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .tz("Asia/Shanghai")
  .format("HH:mm:ss DD MMMM YYYY UTC+8");
---

<PostLayout {post} {posts} {headings} {remarkPluginFrontmatter}>
  <Content /><p>latest updating time：{lastModified}</p>
</PostLayout>
